<div id="renderBody"></div>
<script>
    let body = `@RenderBody()`;
    let scriptsLink = [];
    //obtem os scripts locais
    if (body.indexOf('script-->') > -1) {
        scriptsLink = body.substring(0, body.indexOf('script-->') + 9).replace('<!--', '').replace('script-->', '').replace(/\n|\r/g, "").split(';');
        scriptsLink = scriptsLink[scriptsLink.length - 1] == '' ? scriptsLink.splice(0, scriptsLink.length - 1) : scriptsLink;
    }

    let myElement = document.getElementById('renderBody');
    let shadow = myElement.attachShadow({
        mode: 'open'
    });
    let scriptRef = document.createElement('script');

    function baixarPacote(url, callback) {
        var oReq = new XMLHttpRequest();
        oReq.onload = callback;
        oReq.open("get", url, true);
        oReq.send(null)
    }

    var index = 0;
    adicionarPacotes();
    function adicionarPacotes() {
        if (index < scriptsLink.length) {
            baixarPacote(scriptsLink[index], adicionarScript);
            index++;
        }
        else {
            finalizar();
        }
    }

    function adicionarScript(data) {
        scriptRef.textContent += ';' + data.target.responseText;
        adicionarPacotes();
    }

    function finalizar() {
        var html = document.createElement('div');
        html.innerHTML = body.substring(body.indexOf('script-->') + 9, body.length);
        shadow.appendChild(html);
        shadow.appendChild(scriptRef);
    }

</script>