@{Layout = "~/Views/Shared/_Layout.cshtml";}
<!--
https://@Context.Request.Host@Context.Request.PathBase/js/Chart.min.js;
https://@Context.Request.Host@Context.Request.PathBase/js/Teste.js;
script-->
<h1>11111111111111</h1>
<canvas id="myChart" width="400" height="400"></canvas>